<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813945810158-4empnukq4ncmtqi63etgn38pqdan8ip2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813945810158-4empnukq4ncmtqi63etgn38pqdan8ip2</string>
	<key>API_KEY</key>
	<string>AIzaSyC9QNmuB2owGwyOm5SWvqPy3xqqExF0nyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>813945810158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-a8a37</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-a8a37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813945810158:ios:2bf2fa27df8e9df16717ff</string>
</dict>
</plist>